force-app/main/default/flows/HLIB_X3N_CasesRoutingBasedSkills.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Routing_based_on_skills_Action_1</name>
        <label>Routing based on skills Action 1</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>HLIB_X3N_Skills_BasedRouting</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>cases</name>
            <value>
                <elementReference>caseid_skillName</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assignment_variable_caseId_skillName</name>
        <label>Assignment variable caseId + skillName</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>caseid_skillName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!$Record.Id};Abonos</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Routing_based_on_skills_Action_1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Propietario_caso</name>
        <label>Propietario caso</label>
        <locationX>710</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HLIB_Abonos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>serviceFlow_HLIB_Abonos</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_variable_caseId_skillName</targetReference>
            </connector>
            <label>HLIB-Abonos</label>
        </rules>
        <rules>
            <name>HLIB_AtencionalCliente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>serviceFlow_HLIB_AtencionalCliente</stringValue>
                </rightValue>
            </conditions>
            <label>HLIB-AtencionalCliente</label>
        </rules>
        <rules>
            <name>HLIB_BuzonVoz</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>serviceFlow_HLIB_BuzonVoz</stringValue>
                </rightValue>
            </conditions>
            <label>HLIB-BuzonVoz</label>
        </rules>
        <rules>
            <name>HLIB_Fax</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>serviceFlow_HLIB_Fax</stringValue>
                </rightValue>
            </conditions>
            <label>HLIB-Fax</label>
        </rules>
        <rules>
            <name>HLIB_GOP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>serviceFlow_HLIB_GOP</stringValue>
                </rightValue>
            </conditions>
            <label>HLIB-GOP</label>
        </rules>
        <rules>
            <name>HLIB_Incidencias</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>serviceFlow_HLIB_Incidencias</stringValue>
                </rightValue>
            </conditions>
            <label>HLIB-Incidencias</label>
        </rules>
        <rules>
            <name>HLIB_Pentax</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>serviceFlow_HLIB_Pentax</stringValue>
                </rightValue>
            </conditions>
            <label>HLIB-Pentax</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>HLIB_X3N_CasesRoutingBasedSkills {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HLIB_X3N_CasesRoutingBasedSkills</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Propietario_caso</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>caseid_skillName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
