force-app/main/default/flows/serviceFlow_Task_Auto_Assign_Edit_recordtype.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <description>Assigining serviceFlow Edit recordtype so that the layout will be switched automatically to display Subject and Sub-Subject</description>
        <name>Assigning_serviceFlow_Edit_Recordtype</name>
        <label>Assigning serviceFlow Edit Recordtype</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRecordtypeName.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>verifying the weather the recordtype came in is service flow recordtype or not</description>
        <name>recordtype_check</name>
        <label>recordtype check</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_ServiceFlow_Create_Recordtype</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>serviceFlow_AgentCreateTask</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assigning_serviceFlow_Edit_Recordtype</targetReference>
            </connector>
            <label>is ServiceFlow Create Recordtype?</label>
        </rules>
        <rules>
            <name>is_NOT_ServiceFlow_Create_Recordtype</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>serviceFlow_AgentCreateTask</stringValue>
                </rightValue>
            </conditions>
            <label>is NOT ServiceFlow Create Recordtype?</label>
        </rules>
    </decisions>
    <description>Task Before Insert Trigger/Flow</description>
    <interviewLabel>serviceFlow Case - Auto Assign Edit recordtype {!$Flow.CurrentDateTime}</interviewLabel>
    <label>serviceFlow Task - Auto Assign Edit recordtype</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Fetching Task Record types to switch to edit recordtype automatically</description>
        <name>getRecordtypeName</name>
        <label>getRecordtypeName</label>
        <locationX>314</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>recordtype_check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>serviceFlow_AgentEditTask</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <sortField>DeveloperName</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getRecordtypeName</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>SFlow_Subject__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SFlow_Sub_Subject__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
