force-app/main/default/flows/Surver_Process_GT.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>Partecipate_No</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;No&lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Partecipate_Yes</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#00CC00&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Yes&lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>CheckInterviewer</name>
        <label>CheckInterviewer</label>
        <locationX>74</locationX>
        <locationY>609</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Conflict_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varIDinterviewer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varUserID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Self_Evaluation_Conflict</targetReference>
            </connector>
            <label>Conflict Yes</label>
        </rules>
        <rules>
            <name>Conflict_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varIDinterviewer</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varUserID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Survey_Products_Intro</targetReference>
            </connector>
            <label>Conflict No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Survey_found</name>
        <label>Survey found</label>
        <locationX>75</locationX>
        <locationY>209</locationY>
        <defaultConnector>
            <targetReference>Survey_Introduction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>SurveyFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_if_Survey_already_exist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SurveyAlreadyExists</targetReference>
            </connector>
            <label>SurveyFound</label>
        </rules>
    </decisions>
    <decisions>
        <name>Want_to_participate</name>
        <label>Want to participate</label>
        <locationX>61</locationX>
        <locationY>383</locationY>
        <defaultConnector>
            <targetReference>Thank_you</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Salesperson_response</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Partecipate_Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>wrap_up_userselection</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Coaching Issue survey Process</description>
    <dynamicChoiceSets>
        <name>Benefit</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Benefit__c</picklistField>
        <picklistObject>Coaching_Issues__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Closing</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Closing__c</picklistField>
        <picklistObject>Coaching_Issues__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Collaborative</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Collaborative__c</picklistField>
        <picklistObject>Coaching_Issues__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Collection</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Collection__c</picklistField>
        <picklistObject>Coaching_Issues__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Commitments</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Commitments__c</picklistField>
        <picklistObject>Coaching_Issues__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Competitors</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Competitors__c</picklistField>
        <picklistObject>Coaching_Issues__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Drivers</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Drivers__c</picklistField>
        <picklistObject>Coaching_Issues__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Exclusive</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Exclusive__c</picklistField>
        <picklistObject>Coaching_Issues__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Feature</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Feature__c</picklistField>
        <picklistObject>Coaching_Issues__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Function</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Function__c</picklistField>
        <picklistObject>Coaching_Issues__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Industry</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Industry__c</picklistField>
        <picklistObject>Coaching_Issues__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Negotiate</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Negotiate__c</picklistField>
        <picklistObject>Coaching_Issues__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Opening</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Opening__c</picklistField>
        <picklistObject>Coaching_Issues__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Partner</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Partner__c</picklistField>
        <picklistObject>Coaching_Issues__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Planning</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Planning__c</picklistField>
        <picklistObject>Coaching_Issues__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Present</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Present__c</picklistField>
        <picklistObject>Coaching_Issues__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProductMix</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ProductMix__c</picklistField>
        <picklistObject>Coaching_Issues__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Profit</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Profit__c</picklistField>
        <picklistObject>Coaching_Issues__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Prospect</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Prospect__c</picklistField>
        <picklistObject>Coaching_Issues__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Recording</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Recording__c</picklistField>
        <picklistObject>Coaching_Issues__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Relationship</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Relationships__c</picklistField>
        <picklistObject>Coaching_Issues__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Resolving</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Resolving__c</picklistField>
        <picklistObject>Coaching_Issues__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Responding</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Responding__c</picklistField>
        <picklistObject>Coaching_Issues__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Role</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Role__c</picklistField>
        <picklistObject>Coaching_Issues__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Satisfying</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Satisfying__c</picklistField>
        <picklistObject>Coaching_Issues__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SFDC</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SFDC__c</picklistField>
        <picklistObject>Coaching_Issues__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Using</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Using__c</picklistField>
        <picklistObject>Coaching_Issues__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Surver Process GT {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Surver Process GT</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Survey_Record</name>
        <label>Create Survey Record</label>
        <locationX>762</locationX>
        <locationY>607</locationY>
        <assignRecordIdToReference>varCI_ID</assignRecordIdToReference>
        <connector>
            <targetReference>SurveyScoreCalculation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_user_selection</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Benefit__c</field>
            <value>
                <elementReference>Benefit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Closing__c</field>
            <value>
                <elementReference>Closing</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Collaborative__c</field>
            <value>
                <elementReference>Collaborative</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Collection__c</field>
            <value>
                <elementReference>Collection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commitments__c</field>
            <value>
                <elementReference>Commitments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Competitors__c</field>
            <value>
                <elementReference>Competitors</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Drivers__c</field>
            <value>
                <elementReference>Drivers</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exclusive__c</field>
            <value>
                <elementReference>Exclusive</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Feature__c</field>
            <value>
                <elementReference>Feature</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Function__c</field>
            <value>
                <elementReference>Function</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry__c</field>
            <value>
                <elementReference>Industry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Link_to_user__c</field>
            <value>
                <elementReference>varUserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varASMname</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Negotiate__c</field>
            <value>
                <elementReference>Negotiate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opening__c</field>
            <value>
                <elementReference>Opening</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varUserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner__c</field>
            <value>
                <elementReference>Partner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Planning__c</field>
            <value>
                <elementReference>Planning</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Present__c</field>
            <value>
                <elementReference>Present</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductMix__c</field>
            <value>
                <elementReference>ProductMix</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Profit__c</field>
            <value>
                <elementReference>Profit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prospect__c</field>
            <value>
                <elementReference>Prospect</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recording__c</field>
            <value>
                <elementReference>Recording</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Relationships__c</field>
            <value>
                <elementReference>Relationship</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resolving__c</field>
            <value>
                <elementReference>Resolving</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Responding__c</field>
            <value>
                <elementReference>Responding</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role__c</field>
            <value>
                <elementReference>Role</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDC__c</field>
            <value>
                <elementReference>SFDC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Satisfying__c</field>
            <value>
                <elementReference>Satisfying</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Using__c</field>
            <value>
                <elementReference>Using</elementReference>
            </value>
        </inputAssignments>
        <object>Coaching_Issues__c</object>
    </recordCreates>
    <recordLookups>
        <name>Find_if_Survey_already_exist</name>
        <label>Find if Survey already exist</label>
        <locationX>74</locationX>
        <locationY>122</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Survey_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Link_to_user__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varUserID</elementReference>
            </value>
        </filters>
        <object>Coaching_Issues__c</object>
        <outputReference>foundaSurvey</outputReference>
        <queriedFields>Link_to_user__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getUserID</name>
        <label>getUserID</label>
        <locationX>75</locationX>
        <locationY>25</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_if_Survey_already_exist</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_user_selection</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varASMname</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varCompanyName</assignToReference>
            <field>CompanyName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ExitingSurveySalutation</assignToReference>
            <field>Exiting_Survey_CI__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IntroUser</assignToReference>
            <field>Into_User_CI__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Introduction</assignToReference>
            <field>Introduction_CI__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Paragraph11</assignToReference>
            <field>P_1_1_CI__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Paragraph12</assignToReference>
            <field>P_1_2_CI__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Paragraph21</assignToReference>
            <field>P_2_1_CI__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Paragraph22</assignToReference>
            <field>P_2_2_CI__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Paragraph23</assignToReference>
            <field>P_2_3_CI__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Paragraph31</assignToReference>
            <field>P_3_1_CI__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Q1a</assignToReference>
            <field>Q_1_a_CI__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Q1b</assignToReference>
            <field>Q_1_b_CI__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Q1c</assignToReference>
            <field>Q_1_c_CI__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Q1d</assignToReference>
            <field>Q_1_d_CI__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Q2a</assignToReference>
            <field>Q_2_a_CI__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Q2b</assignToReference>
            <field>Q_2_b_CI__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Q2c</assignToReference>
            <field>Q_2_c_CI__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Q2d</assignToReference>
            <field>Q_2_d_CI__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Q2e</assignToReference>
            <field>Q_2_e_CI__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Q2f</assignToReference>
            <field>Q_2_f_CI__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Q2g</assignToReference>
            <field>Q_2_g_CI__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Q2h</assignToReference>
            <field>Q_2_h_CI__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Q2i</assignToReference>
            <field>Q_2_i_CI__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Q2j</assignToReference>
            <field>Q_2_j_CI__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Q2k</assignToReference>
            <field>Q_2_k_CI__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Q2l</assignToReference>
            <field>Q_2_l_CI__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Q2m</assignToReference>
            <field>Q_2_m_CI__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Q2n</assignToReference>
            <field>Q_2_n_CI__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Q2o</assignToReference>
            <field>Q_2_o_CI__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Q2p</assignToReference>
            <field>Q_2_p_CI__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Q2q</assignToReference>
            <field>Q_2_q_CI__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Q2r</assignToReference>
            <field>Q_2_r_CI__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Q3a</assignToReference>
            <field>Q_3_a_CI__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Q3b</assignToReference>
            <field>Q_3_b_CI__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Q3c</assignToReference>
            <field>Q_3_c_CI__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Q3d</assignToReference>
            <field>Q_3_d_CI__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Q3e</assignToReference>
            <field>Q_3_e_CI__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Section1</assignToReference>
            <field>S_1_CI__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Section2</assignToReference>
            <field>S_2_CI__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Section3</assignToReference>
            <field>S_3_CI__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FinalSalutation</assignToReference>
            <field>Salutation_CI__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelfEvaluation</assignToReference>
            <field>Self_Evaluation_CI__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SurveyExistingText</assignToReference>
            <field>Survey_Existing_CI__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varUsername</assignToReference>
            <field>Username</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varUserID</assignToReference>
            <field>user_ID__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Business_Acumen_Intro</name>
        <label>Business Acumen Intro</label>
        <locationX>606</locationX>
        <locationY>608</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Survey_Business_Acumen</targetReference>
        </connector>
        <fields>
            <name>BusinessAcumen</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:20px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;3°: &lt;FONT COLOR=&quot;#009900&quot;&gt;{!Section3}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_user_selection</name>
        <label>Fault user selection</label>
        <locationX>337</locationX>
        <locationY>48</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Faultmessage</name>
            <fieldText>{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Self_Evaluation_Conflict</name>
        <label>Self Evaluation Conflict</label>
        <locationX>71</locationX>
        <locationY>728</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SelfEvaluationConflictMessage</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:24px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!SelfEvaluation}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Survey_Business_Acumen</name>
        <label>Survey Business Acumen</label>
        <locationX>605</locationX>
        <locationY>810</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Survey_Record</targetReference>
        </connector>
        <fields>
            <name>BusinessAcumenHeader</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:20px&quot; COLOR=&quot;#0000FF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;I&gt;{!Section3}&lt;/I&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>IndustryKnowledgeChapt</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!Paragraph31}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Description3a</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;3.a {!Q3a}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Answer_3a</name>
            <choiceReferences>Industry</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Answer</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description3b</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;3.b {!Q3b}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Answer_3b</name>
            <choiceReferences>Drivers</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Answer</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description3c</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;3.c {!Q3c}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Answer_3c</name>
            <choiceReferences>Profit</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Answer</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description3d</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;3.d {!Q3d}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Answer_3d</name>
            <choiceReferences>Function</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Answer</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description3e</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;3.e {!Q3e}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Answer_3e</name>
            <choiceReferences>Role</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Answer</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Survey_Introduction</name>
        <label>Survey Introduction</label>
        <locationX>70</locationX>
        <locationY>296</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Want_to_participate</targetReference>
        </connector>
        <fields>
            <name>SurveyIntroduction</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:20px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Introduction}&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Salesperson_response</name>
            <choiceReferences>Partecipate_Yes</choiceReferences>
            <choiceReferences>Partecipate_No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Salesperson response</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Survey_Product_Solution_Knowledge</name>
        <label>Survey Product-Solution Knowledge</label>
        <locationX>266</locationX>
        <locationY>795</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Survey_Sales_Intro</targetReference>
        </connector>
        <fields>
            <name>ProductSolutionKnowledgeHeader</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:20px&quot; COLOR=&quot;#0000FF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;I&gt;{!Section1}&lt;/I&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FeaturesandBenefits</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!Paragraph11}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Description1a</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;1.a &lt;FONT STYLE=&quot;font-size:14px&quot;&gt;{!Q1a}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Answer_1a</name>
            <choiceReferences>Feature</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Answer</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description1b</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;1.b &lt;FONT STYLE=&quot;font-size:14px&quot;&gt;{!Q1b}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Answer_1b</name>
            <choiceReferences>Benefit</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Answer</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ApplicationChapt</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!Paragraph12}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Description1c</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;1.c {!Q1c}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Answer1c</name>
            <choiceReferences>Competitors</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Answer</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description1d</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;1.d {!Q1d}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Answer_1d</name>
            <choiceReferences>Exclusive</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Answer</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Survey_Products_Intro</name>
        <label>Survey Products Intro</label>
        <locationX>275</locationX>
        <locationY>611</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Survey_Product_Solution_Knowledge</targetReference>
        </connector>
        <fields>
            <name>Thanks</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:20px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;1°: &lt;FONT COLOR=&quot;#009900&quot;&gt;{!Section1}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Survey_Sales_Intro</name>
        <label>Survey Sales Intro</label>
        <locationX>436</locationX>
        <locationY>605</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Survey_Sales_Process</targetReference>
        </connector>
        <fields>
            <name>Thanks_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:20px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;2°: &lt;FONT COLOR=&quot;#009900&quot;&gt;{!Section2}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Survey_Sales_Process</name>
        <label>Survey Sales Process</label>
        <locationX>439</locationX>
        <locationY>805</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Business_Acumen_Intro</targetReference>
        </connector>
        <fields>
            <name>SalesProcessHeader</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:20px&quot; COLOR=&quot;#0000FF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;I&gt;{!Section2}&lt;/I&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SalesProcessExecutionChapt</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!Paragraph21}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Description2a</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;2.a {!Q2a}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Answer_2a</name>
            <choiceReferences>Planning</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Answer</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description2b</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;2.b {!Q2b}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Answer_2b</name>
            <choiceReferences>Recording</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Answer</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description2c</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;2.c {!Q2c}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Answer_2c</name>
            <choiceReferences>Commitments</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Answer</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description2d</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;2.d {!Q2d}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SelectAnswer_2d</name>
            <choiceReferences>SFDC</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Answer</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SellingSkillsChapt</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!Paragraph22}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Description2e</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;2.e {!Q2e}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Answer_2e</name>
            <choiceReferences>Opening</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Answer</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description2f</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;2.f {!Q2f}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Answer_2f</name>
            <choiceReferences>Responding</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Answer</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description2g</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;2.g {!Q2g}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Answer_2g</name>
            <choiceReferences>Using</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Answer</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description2h</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;2.h {!Q2h}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Answer_2h</name>
            <choiceReferences>ProductMix</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Answer</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description2i</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;2.i {!Q2i}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Answer_2i</name>
            <choiceReferences>Satisfying</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Answer</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description2j</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;2.j {!Q2j}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Answer_2j</name>
            <choiceReferences>Resolving</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Answer</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description2k</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;2.k {!Q2k}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Answer_2k</name>
            <choiceReferences>Closing</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Answer</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description2l</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;2.l {!Q2l}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Answer_2l</name>
            <choiceReferences>Negotiate</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Answer</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description2m</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;2.m {!Q2m}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Answer_2m</name>
            <choiceReferences>Present</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Answer</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description2n</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;2.n {!Q2n}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Answer_2n</name>
            <choiceReferences>Partner</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Answer</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description2o</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;2.o {!Q2o}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Answer_2o</name>
            <choiceReferences>Collection</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Answer</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Relationshipbuilding</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!Paragraph23}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Decription2p</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;2.p&lt;FONT STYLE=&quot;font-size:12px&quot;&gt; &lt;/FONT&gt;{!Q2p}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Answer_2p</name>
            <choiceReferences>Prospect</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Answer</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Decription2q</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;2.q {!Q2q}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Amswer_2q</name>
            <choiceReferences>Collaborative</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Amswer</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Decription2r</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;2.r {!Q2r}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Answer_2r</name>
            <choiceReferences>Relationship</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Answer</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SurveyAlreadyExists</name>
        <label>SurveyAlreadyExists</label>
        <locationX>335</locationX>
        <locationY>216</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SurveyExisting</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;User Name: &lt;FONT COLOR=&quot;#FF0000&quot; KERNING=&quot;1&quot;&gt;{!varASMname}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!SurveyExistingText}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Thank_you</name>
        <label>Thank you</label>
        <locationX>270</locationX>
        <locationY>390</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ThanksUser</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!ExitingSurveySalutation}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ThanksSurveyTaken</name>
        <label>ThanksSurveyTaken</label>
        <locationX>951</locationX>
        <locationY>803</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Thanksfinal</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:22px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!FinalSalutation} &lt;FONT COLOR=&quot;#0000FF&quot;&gt;{!varASMname}&lt;/FONT&gt;:&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:22px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:22px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!Section1}&lt;FONT KERNING=&quot;0&quot;&gt;: &lt;FONT COLOR=&quot;#FF0000&quot; KERNING=&quot;1&quot;&gt;{!ProductServiceKnowledgeAVGScore}&lt;/FONT&gt; &lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:22px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!Section2}: &lt;FONT COLOR=&quot;#FF0000&quot;&gt;{!SellinProcessAVGScore}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:22px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:22px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!Section3}: &lt;FONT COLOR=&quot;#FF0000&quot;&gt;{!BusinessAcumenAVGScore}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:22px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:22px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt; {!ExitingSurveySalutation}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>wrap_up_userselection</name>
        <label>wrap up User Selection</label>
        <locationX>67</locationX>
        <locationY>493</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CheckInterviewer</targetReference>
        </connector>
        <fields>
            <name>UserSelected</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;{!IntroUser}:&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;User Name:&lt;FONT COLOR=&quot;#0000FF&quot;&gt;&lt;B&gt;  {!varASMname}&lt;/B&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;SFDC profile: &lt;FONT COLOR=&quot;#0000FF&quot;&gt;&lt;B&gt;{!varUsername}&lt;/B&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;User company: &lt;FONT COLOR=&quot;#0000FF&quot;&gt;&lt;B&gt;{!varCompanyName}&lt;/B&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>getUserID</startElementReference>
    <status>Active</status>
    <subflows>
        <name>SurveyScoreCalculation</name>
        <label>SurveyScoreCalculation</label>
        <locationX>947</locationX>
        <locationY>605</locationY>
        <connector>
            <targetReference>ThanksSurveyTaken</targetReference>
        </connector>
        <flowName>SurveyScoreCalculation</flowName>
        <inputAssignments>
            <name>varID_CI_score</name>
            <value>
                <elementReference>varCI_ID</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ProductServiceKnowledgeAVGScore</assignToReference>
            <name>AVGScoreProductServiceKnowledge</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SellinProcessAVGScore</assignToReference>
            <name>AVGScoreSellingProcess</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>BusinessAcumenAVGScore</assignToReference>
            <name>AVGScoreBusinessAcumen</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>BusinessAcumenAVGScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>1</scale>
    </variables>
    <variables>
        <name>ExitingSurveySalutation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FinalSalutation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>foundaSurvey</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Coaching_Issues__c</objectType>
    </variables>
    <variables>
        <name>Introduction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IntroUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Paragraph11</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Paragraph12</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Paragraph21</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Paragraph22</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Paragraph23</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Paragraph31</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductServiceKnowledgeAVGScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>1</scale>
    </variables>
    <variables>
        <name>Q1a</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Q1b</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Q1c</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Q1d</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Q2a</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Q2b</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Q2c</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Q2d</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Q2e</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Q2f</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Q2g</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Q2h</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Q2i</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Q2j</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Q2k</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Q2l</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Q2m</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Q2n</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Q2o</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Q2p</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Q2q</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Q2r</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Q3a</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Q3b</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Q3c</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Q3d</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Q3e</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Section1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Section2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Section3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelfEvaluation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SellinProcessAVGScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>1</scale>
    </variables>
    <variables>
        <name>SurveyExistingText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varActiveUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varASMname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCI_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCompanyName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varIDinterviewer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varUsername</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
