force-app/main/default/flows/Task_Approval_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_To_Approve</name>
        <label>Send Email To Approve</label>
        <locationX>182</locationX>
        <locationY>1406</locationY>
        <actionName>HoyaTaskApprovalEmailFlowCtrl</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>eventType</name>
            <value>
                <stringValue>Approve</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordIds</name>
            <value>
                <elementReference>recordIds</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_To_Reject</name>
        <label>Send Email To Reject</label>
        <locationX>578</locationX>
        <locationY>1214</locationY>
        <actionName>HoyaTaskApprovalEmailFlowCtrl</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>eventType</name>
            <value>
                <stringValue>Reject</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordIds</name>
            <value>
                <elementReference>recordIds</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>GetTaskAssignmentIdsToApex</name>
        <label>GetTaskAssignmentIdsToApex</label>
        <locationX>1361</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>recordIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actual_Approver_Decision</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Approve</name>
        <choiceText>Approve</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Approve</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reject</name>
        <choiceText>Reject</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reject</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Actual_Approver_Decision</name>
        <label>Actual Approver Decision</label>
        <locationX>1361</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Unauthorized_Approver</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Actual Approver</defaultConnectorLabel>
        <rules>
            <name>Actual_Approver</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCurrentTaskObjectrecords.OwnerId</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Parent_Account_Exist</targetReference>
            </connector>
            <label>Actual Approver</label>
        </rules>
    </decisions>
    <decisions>
        <name>Approved_Rejected</name>
        <label>Approved/Rejected</label>
        <locationX>512</locationX>
        <locationY>890</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Approve_Reject_VisitRequest</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Approve</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Task</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
        <rules>
            <name>Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Approve_Reject_VisitRequest</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Reject</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Rejected_Record</targetReference>
            </connector>
            <label>Rejected</label>
        </rules>
    </decisions>
    <decisions>
        <name>CommentCharacterCount</name>
        <label>CommentCharacterCount</label>
        <locationX>809</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>CharacterLimitErrorMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>More Than 200 ?</defaultConnectorLabel>
        <rules>
            <name>Under_200</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LengthOfResolutionComments</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>200.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approved_Rejected</targetReference>
            </connector>
            <label>Under 200 ?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Direct_Visit_Planned_and_Digital_Visits_Planned_Empty</name>
        <label>Direct Visit Planned and Digital Visits Planned Empty ?</label>
        <locationX>182</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Empty_Update_Account_Approve</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Empty</defaultConnectorLabel>
        <rules>
            <name>Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAccountDetails.Requested_Digital_Visits__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getAccountDetails.Requested_Direct_Visits__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Approve</targetReference>
            </connector>
            <label>Not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Parent_Account_Exist</name>
        <label>Is Parent Account Exist ?</label>
        <locationX>1089</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Not Exist ?</defaultConnectorLabel>
        <rules>
            <name>Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCurrentTaskObjectrecords.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getAccountDetails</targetReference>
            </connector>
            <label>Exist ?</label>
        </rules>
    </decisions>
    <description>Request Modification Of Planned Visits</description>
    <environments>Default</environments>
    <formulas>
        <name>CommentUpdateWithRequestedValues</name>
        <dataType>String</dataType>
        <expression>{!Approval_Comments} &amp; &apos; - Requested Direct Visit: &apos; &amp; TEXT({!getAccountDetails.Requested_Direct_Visits__c}) &amp; &apos;, Requested Digital Visit: &apos; &amp; TEXT({!getAccountDetails.Requested_Digital_Visits__c})</expression>
    </formulas>
    <formulas>
        <name>LengthOfResolutionComments</name>
        <dataType>Number</dataType>
        <expression>LEN({!Approval_Comments})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Task Approval Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Request For Modification Of Planned Visits</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getAccountDetails</name>
        <label>getAccountDetails</label>
        <locationX>809</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Approval_Screen</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCurrentTaskObjectrecords.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCurrentTaskObjectrecords.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Requested_Direct_Visits__c</queriedFields>
        <queriedFields>Requested_Digital_Visits__c</queriedFields>
        <queriedFields>Agreed_Visits__c</queriedFields>
        <queriedFields>Agreed_No_of_Digital_Visits__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCurrentTaskObjectrecords</name>
        <label>getCurrentTaskObjectrecords</label>
        <locationX>1361</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetTaskAssignmentIdsToApex</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Empty_Update_Account_Approve</name>
        <label>Empty Update Account Approve</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Send_Email_To_Approve</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getAccountDetails.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Requested_Digital_Visits__c</field>
            <value>
                <elementReference>getAccountDetails.Requested_Digital_Visits__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_Direct_Visits__c</field>
            <value>
                <elementReference>getAccountDetails.Requested_Direct_Visits__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Approve</name>
        <label>Update Account Approve</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Send_Email_To_Approve</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getAccountDetails.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Agreed_No_of_Digital_Visits__c</field>
            <value>
                <elementReference>getAccountDetails.Requested_Digital_Visits__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agreed_Visits__c</field>
            <value>
                <elementReference>getAccountDetails.Requested_Direct_Visits__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_Digital_Visits__c</field>
            <value>
                <elementReference>getAccountDetails.Requested_Digital_Visits__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_Direct_Visits__c</field>
            <value>
                <elementReference>getAccountDetails.Requested_Direct_Visits__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Reject</name>
        <label>Update Account Reject</label>
        <locationX>578</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Send_Email_To_Reject</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getAccountDetails.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Requested_Digital_Visits__c</field>
            <value>
                <elementReference>getAccountDetails.Requested_Digital_Visits__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_Direct_Visits__c</field>
            <value>
                <elementReference>getAccountDetails.Requested_Direct_Visits__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Rejected_Record</name>
        <label>Update Rejected Record</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Update_Account_Reject</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Instructions__c</field>
            <value>
                <elementReference>CommentUpdateWithRequestedValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visit_Update_Request_Open__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task</name>
        <label>Approved Update Task</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Direct_Visit_Planned_and_Digital_Visits_Planned_Empty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Instructions__c</field>
            <value>
                <elementReference>CommentUpdateWithRequestedValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visit_Update_Request_Open__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <screens>
        <name>Approval_Screen</name>
        <label>Approval Screen</label>
        <locationX>809</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CommentCharacterCount</targetReference>
        </connector>
        <fields>
            <name>DisplayText</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;The task is awaiting approval from {!getCurrentTaskObjectrecords.Owner:User.FirstName}. Please select either the &quot;Approve&quot; or &quot;Reject&quot; radio button, then click &quot;Next.&quot;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Approval_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Approval_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>getAccountDetails.Requested_Direct_Visits__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Approval_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>getAccountDetails.Requested_Digital_Visits__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Approve_Reject_VisitRequest</name>
            <choiceReferences>Approve</choiceReferences>
            <choiceReferences>Reject</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Approve/ Reject Visit Request</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Approval_Comments</name>
            <fieldText>Approval Comments (maximum character limit of 200)</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;strong style=&quot;color: rgb(195, 15, 39);&quot;&gt;Error: Please enter comments within maximum character limit of 200&lt;/strong&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Approval_Comments}) &lt; 200</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CharacterLimitErrorMessage</name>
        <label>CharacterLimitErrorMessage</label>
        <locationX>1106</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CharacterLimitExceptionLimit</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(237, 7, 7); background-color: rgb(255, 255, 255);&quot;&gt;Please enter comments within maximum character limit of 255&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Unauthorized_Approver</name>
        <label>Unauthorized Approver</label>
        <locationX>1634</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>UnauthorizedApprover</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(221, 13, 13);&quot;&gt;You are not authorized to approve this record.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1235</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getCurrentTaskObjectrecords</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ValidationFailed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
