force-app/main/default/flows/Update_competitor_Global_name.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Decision_1</name>
        <label>Decision 1</label>
        <locationX>578</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.First_Competitor_local_name__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_global_variable_is_not_present</targetReference>
            </connector>
            <label>When First local competitor is changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_global_variable_is_not_present</name>
        <label>If global variable is not present</label>
        <locationX>314</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>Update_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>Check_if_metadata_for_first_Comp_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fetch_Metadata_value_1st_comp_Global.First_Competitor_Global_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Global_competitor_as_Other</targetReference>
            </connector>
            <label>Check if metadata for first Comp is null</label>
        </rules>
        <rules>
            <name>Check_if_metadata_for_Second_Comp_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fetch_Metadata_value_2nd_comp_Global.First_Competitor_Global_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_second_Competitor_Global_as_Other</targetReference>
            </connector>
            <label>Check if metadata for Second Comp is null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update competitor Global name {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update competitor Global name</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Fetches the relavant Metadata value</description>
        <name>Fetch_Metadata_value_1st_comp_Global</name>
        <label>Fetch Metadata value(1st comp Global)</label>
        <locationX>578</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_Metadata_value_2nd_comp_Global</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>First_Competitor_Local_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.First_Competitor_local_name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Global_Competitor_Entity__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Metadata_value_2nd_comp_Global</name>
        <label>Fetch Metadata value(2nd comp Global)</label>
        <locationX>578</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>First_Competitor_Local_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Second_Competitor_Local_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Global_Competitor_Entity__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Global_competitor_as_Other</name>
        <label>Update Global competitor as Other</label>
        <locationX>50</locationX>
        <locationY>719</locationY>
        <inputAssignments>
            <field>First_Competitor_global_name__c</field>
            <value>
                <elementReference>Other</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Record</name>
        <label>Update Record</label>
        <locationX>578</locationX>
        <locationY>719</locationY>
        <inputAssignments>
            <field>First_Competitor_global_name__c</field>
            <value>
                <elementReference>Fetch_Metadata_value_1st_comp_Global.First_Competitor_Global_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Second_Competitor_global_name__c</field>
            <value>
                <elementReference>Fetch_Metadata_value_2nd_comp_Global.First_Competitor_Global_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_second_Competitor_Global_as_Other</name>
        <label>Update second Competitor Global as Other</label>
        <locationX>314</locationX>
        <locationY>719</locationY>
        <inputAssignments>
            <field>Second_Competitor_global_name__c</field>
            <value>
                <elementReference>Other</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Fetch_Metadata_value_1st_comp_Global</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>First_Competitor_local_name__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Second_Competitor_Local_Name__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Other</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </variables>
</Flow>
